html
    head
        title MyApp
    body(class="myClass")
        h1(id='myId') My App
        p
            h3 some headding

        ul
            each val in ['1', '2', '3']
                li=val